:root {
    --primary-color: #0A1128;
    --white-color: #ffff;
    --ligth-gray-color: #EEEE;
    --secondery-color: crimson;
    --gap: 3rem;
    --input-text-color: #c4bebe;
    --link-color: rgb(26, 26, 207);

}